
  <a href="#" title=""><img src="../../../assets/img/home.png" class="img-responsive float-center figure-img img-fluid p-3"></a>
  <a href="#" title=""><img src="../../../assets/img/persons.png" class="img-responsive float-center figure-img img-fluid p-3"></a>
  <a href="#" title=""><img src="../../../assets/img/building.png" class="img-responsive float-center figure-img img-fluid p-3"></a>
  <a href="#" title=""><img src="../../../assets/img/categories.png" class="img-responsive float-center figure-img img-fluid p-3"></a>
  <a href="#" title=""><img src="../../../assets/img/report.png" class="img-responsive float-center figure-img img-fluid p-3"></a>

