<div class="container">
  <app-header></app-header>

  <div class="row">
    <div class="col-1" style="border: 2px solid; border-color: rgb(0, 38, 255);">
    <app-leftmenu></app-leftmenu>
    </div>

    <div class="col-11" style="border: 2px solid; border-color: rgb(0, 38, 255);">
      <div>

        <app-page-search></app-page-search>
      </div>

      <div>
    <table class="table table-bordered table-hover table-primary table-responsive table-responsive-sm">
      <thead class="thead-dark">
      <tr align="center">
        <th>name</th>
        <th>surname</th>
        <th>description</th>
        <th>phone</th>
        <th>mobil</th>
        <th>email</th>
        <th>regdate</th>
        <th>idnp</th>
        <th>birthday</th>
        <th colspan=2>Quick Edit</th>
      </tr>

      </thead>

      <tr *ngFor="let person of persons">
        <td>{{person.name}}</td>
        <td>{{person.surname}}</td>
        <td>{{person.description}}</td>
        <td>{{person.phone}}</td>
        <td>{{person.mobile}}</td>
        <td>{{person.email}}</td>
        <td>{{person.regdate}}</td>
        <td>{{person.idnp}}</td>
        <td>{{person.birthday}}</td>
<!--        <td align="center"><a class="btn btn-primary btn-sm" href='delete?id={{person.personId}}&ndash;&gt;'>Delete</a></td>-->
        <td align="center"><a class="btn btn-primary btn-sm" (click)="deletePerson(person.personId)">Delete</a></td>
<!--        <td align="center"><a class="btn btn-danger btn-sm" (click)="RowSelected(person)" routerLink="edit/{person.personId}">Edit</a></td>-->
        <td align="center"><a class="btn btn-danger btn-sm" routerLink="{{person.personId}}">Edit</a></td>
      </tr>

    </table>
      </div>
    </div>

<!--    <nav aria-label="Table navigation">-->
<!--      <ul class="pagination justify-content-center">-->
<!--        <li class="page-item"><a class="page-link" href="#">Previous</a></li>-->
<!--        <c:forEach var="i" begin="1" end="${requestScope.totalPages}">-->

<!--          <c:choose>-->
<!--            <c:when test="${requestScope.currentPage == i}">-->
<!--              <li class="page-item active">-->
<!--            </c:when>-->
<!--            <c:otherwise>-->
<!--              <li class="page-item">-->
<!--            </c:otherwise>-->
<!--          </c:choose>-->

<!--          <c:choose>-->
<!--            <c:when test="${not empty param.q}">-->
<!--              <a class="page-link" href="list?q=${param.q}&p=${i}"><c:out value="${i}"/> </a>-->
<!--            </c:when>-->
<!--            <c:otherwise>-->
<!--              <a class="page-link" href="list?p=${i}"><c:out value="${i}"/> </a>-->
<!--            </c:otherwise>-->
<!--          </c:choose>-->
<!--          </li>-->
<!--        </c:forEach>-->
<!--        <li class="page-item"><a class="page-link" href="#">Next</a></li>-->
<!--      </ul>-->
<!--    </nav>-->
<!--    <c:if test="${requestScope.persons == null || requestScope.persons.isEmpty()}">-->
<!--      <c:out value="No employees"/>-->
<!--    </c:if>-->
  </div>

<!--  <%@include file="../lib/footer.html"%>-->
<app-footer></app-footer>

<!--  <%&#45;&#45;    <%&#45;&#45;%>-->
<!--  <%&#45;&#45;        List<Person> person = (List<Person>) request.getAttribute("persons");&#45;&#45;%>-->
<!--  <%&#45;&#45;        if (person != null && !person.isEmpty()) {&#45;&#45;%>-->

<!--<%&#45;&#45;            for (int i = 0; i < person.size(); i++) {&#45;&#45;%>-->

<!--  <%&#45;&#45;            }&#45;&#45;%>-->

<!--<%&#45;&#45;        } else {&#45;&#45;%>-->
<!--<%&#45;&#45;            out.println("<p>There are no persons yet!</p>");&#45;&#45;%>-->
<!--<%&#45;&#45;        }&#45;&#45;%>-->
<!--  <%&#45;&#45;    %>&#45;&#45;%>-->
  <a href="${pageContext.request.contextPath}/">Back to main page</a>
</div>


